In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# Import our input dataset
MATH_df = pd.read_csv('Data/5thMath.csv')
MATH_df = pd.DataFrame(MATH_df)

In [2]:
MATH_df.dtypes

Student ID     int64
Gender        object
Ethnicity     object
Retained      object
Attendance    object
Behavior      object
diag1          int64
diag2          int64
diag3          int64
AchLevel       int64
dtype: object

In [3]:
#import encoder
from sklearn.preprocessing import LabelEncoder
#create coder instance
le = LabelEncoder()
#encode categorical columns
MATH_df['Gender'] = le.fit_transform(MATH_df['Gender'])
MATH_df['Ethnicity'] = le.fit_transform(MATH_df['Ethnicity'])
MATH_df['Retained'] = le.fit_transform(MATH_df['Retained'])
MATH_df['Attendance'] = le.fit_transform(MATH_df['Attendance'])
MATH_df['Behavior'] = le.fit_transform(MATH_df['Behavior'])
MATH_df.head()

,Student ID,Gender,Ethnicity,Retained,Attendance,Behavior,diag1,diag2,diag3,AchLevel
0,3503941308,1,1,1,0,0,488,480,498,3
1,3505391508,0,1,1,0,0,491,500,496,4
2,3507941312,1,1,1,1,0,488,494,497,2
3,3508831692,0,1,1,0,0,490,482,505,2
4,3508931445,0,1,1,1,0,481,468,485,4

In [4]:
#create target and features
X = MATH_df.drop(columns = ['Student ID', 'AchLevel'])
y = MATH_df['AchLevel']

#split training/test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# create a StandardScaler instance (previous year's scale score is different from other scale)
scaler = StandardScaler()

#fit the standardScaler
X_scaler = scaler.fit(X_train)

# scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [5]:
# create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

#fit the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f' Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}')

 Random forest predictive accuracy: 0.432

In [6]:
#generate a confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual 1", "Actual 2","Actual 3","Actual 4","Actual 5"],
    columns=["Predicted 1", "Predicted 2","Predicted 3","Predicted 4","Predicted 5" ]
)
display(cm_df)

          Predicted 1  Predicted 2  Predicted 3  Predicted 4  Predicted 5
Actual 1            6            1            2            0            0
Actual 2            0            4            3            2            0
Actual 3            3            3            1            1            0
Actual 4            0            3            1            4            0
Actual 5            0            0            0            2            1