In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load files
Demographics_file = "Demographics.csv"
Achievement_file = "Achievement_Levels.csv"
EWSdata_file = "EWSdata.csv"
ELAdata_file = "ELA_DATA.csv"
MATHdata_file = "MATH_DATA.csv"

Demographics_df = pd.read_csv(Demographics_file)
Achievement_df = pd.read_csv(Achievement_file)
EWSdata_df = pd.read_csv(EWSdata_file)
ELAdata_df = pd.read_csv(ELAdata_file)
MATHdata_df = pd.read_csv(MATHdata_file)

In [3]:
# Sample of Demographics.csv data
Demographics_df.sample()

     Student ID Gender         Ethnicity
785  3574641560      M  African American

In [4]:
# Sample of Achivement_Levels.csv data
Achievement_df.sample()

     Student ID  FSA_ELA  FSA_MATH
106  3572921609        3         3

In [5]:
# Sample of EWSdata.csv data
EWSdata_df.sample()

     Student ID Retained Attendance Behavior
345  3574221608       NO         NO       NO

In [6]:
# Sample of ELAdta.csv data
ELAdata_df.sample()

     Student ID  Fall_Diag  Winter_Diag
754         NaN        NaN          NaN

In [7]:
# Sample of MATHdata.csv data
MATHdata_df.sample()

     Student ID  Fall_Diag  Winter_Diag
121  3578191908        339          373

In [8]:
# Merging all files together on 'Student ID' column
all_data = Demographics_df.merge(Achievement_df,on='Student ID').merge(EWSdata_df,on='Student ID').merge(ELAdata_df,on='Student ID').merge(MATHdata_df,on='Student ID')

In [9]:
all_data.sample()

,Student ID,Gender,Ethnicity,FSA_ELA,FSA_MATH,Retained,Attendance,Behavior,Fall_Diag_x,Winter_Diag_x,Fall_Diag_y,Winter_Diag_y
7,3510291649,M,Caucasian,4,4,NO,NO,NO,533.0,574.0,456,458

In [10]:
# Mergin data for ELA
ela_data = Demographics_df.merge(Achievement_df,on='Student ID').merge(EWSdata_df,on='Student ID').merge(ELAdata_df,on='Student ID')
ela_data = ela_data.drop(['FSA_MATH'],axis=1)
ela_data.sample()

,Student ID,Gender,Ethnicity,FSA_ELA,Retained,Attendance,Behavior,Fall_Diag,Winter_Diag
44,3560411613,F,Caucasian,2,NO,NO,NO,449.0,497.0

In [11]:
# Mergin data for MATH
math_data = Demographics_df.merge(Achievement_df,on='Student ID').merge(EWSdata_df,on='Student ID').merge(MATHdata_df,on='Student ID')
math_data = math_data.drop(['FSA_ELA'],axis=1)
math_data.sample()

,Student ID,Gender,Ethnicity,FSA_MATH,Retained,Attendance,Behavior,Fall_Diag,Winter_Diag
183,3556371235,F,Hispanic,4,no,no,no,452,446

In [12]:
# Checking if null data 
all_data.isnull().sum()

Student ID       0
Gender           0
Ethnicity        0
FSA_ELA          0
FSA_MATH         0
Retained         0
Attendance       0
Behavior         0
Fall_Diag_x      0
Winter_Diag_x    0
Fall_Diag_y      0
Winter_Diag_y    0
dtype: int64

In [13]:
# Checking if na data
all_data.isna().sum()

Student ID       0
Gender           0
Ethnicity        0
FSA_ELA          0
FSA_MATH         0
Retained         0
Attendance       0
Behavior         0
Fall_Diag_x      0
Winter_Diag_x    0
Fall_Diag_y      0
Winter_Diag_y    0
dtype: int64

In [14]:
# Export all_data
# all_data.to_csv('all_data.csv',index=False)

In [15]:
# Export math and ela data
# math_data.to_csv('math_data_joined.csv',index=False)
# ela_data.to_csv('ela_data_joined.csv',index=False)

In [16]:
# Descriptive statistics for ELA
ela_data.describe()

         Student ID     FSA_ELA   Fall_Diag  Winter_Diag
count  2.130000e+02  213.000000  213.000000   213.000000
mean   3.591254e+09    3.173709  515.093897   536.680751
std    3.507787e+08    1.078461   41.332415    36.078419
min    1.300604e+09    1.000000  372.000000   410.000000
25%    3.530192e+09    2.000000  491.000000   517.000000
50%    3.555562e+09    3.000000  518.000000   539.000000
75%    3.577092e+09    4.000000  543.000000   562.000000
max    5.926007e+09    5.000000  612.000000   620.000000

In [17]:
# Descriptive statistics for MATH
math_data.describe()

         Student ID    FSA_MATH   Fall_Diag  Winter_Diag
count  2.130000e+02  213.000000  213.000000   213.000000
mean   3.591254e+09    3.417840  436.305164   450.516432
std    3.507787e+08    1.177245   20.392512    19.566191
min    1.300604e+09    1.000000  365.000000   380.000000
25%    3.530192e+09    3.000000  426.000000   442.000000
50%    3.555562e+09    3.000000  438.000000   453.000000
75%    3.577092e+09    4.000000  450.000000   462.000000
max    5.926007e+09    5.000000  486.000000   496.000000

In [18]:
# diag_bins = [0, 416, 467, 518, 569, 620]
# group_names = ["365-416", "417-467", "468-518", "519-569", "570-620"]

In [19]:
# Establish bins and group names for ELA.
diag_binsELA = [0, 422, 472, 521, 571, 620]
group_namesELA = [1, 2, 3, 4, 5]

In [20]:
# Establish bins ELA per students Winter
bins_per_student_ela_w = ela_data.set_index(['Student ID'])['Winter_Diag']

In [21]:
bins_per_student_ela_w

Student ID
3505181649    564.0
3507461649    584.0
3508041649    528.0
3509881649    556.0
3510171549    534.0
              ...
3531461508    593.0
3571921508    522.0
3582191508    554.0
3592081508    534.0
3535761308    519.0
Name: Winter_Diag, Length: 213, dtype: float64

In [22]:
bins_per_student_ela_w.ndim

1

In [23]:
#  Students in each group of bins for ELA Winter
bins_per_student_ela_w.groupby(pd.cut(bins_per_student_ela_w, diag_binsELA)).count()

Winter_Diag
(0, 422]        3
(422, 472]      8
(472, 521]     51
(521, 571]    120
(571, 620]     31
Name: Winter_Diag, dtype: int64

In [24]:
bins_per_student_ela_w.describe()

count    213.000000
mean     536.680751
std       36.078419
min      410.000000
25%      517.000000
50%      539.000000
75%      562.000000
max      620.000000
Name: Winter_Diag, dtype: float64

In [25]:
bins_winter_ela = pd.cut(bins_per_student_ela_w, diag_binsELA, labels=group_namesELA)

In [26]:
#  Converting bins ELA in DataFrame
bins_winter_ela = pd.DataFrame(bins_winter_ela)
bins_winter_ela = bins_winter_ela.rename(columns={'Winter_Diag': 'Bins_Winter'})
bins_winter_ela

           Bins_Winter
Student ID
3505181649           4
3507461649           5
3508041649           4
3509881649           4
3510171549           4
...                ...
3531461508           5
3571921508           4
3582191508           4
3592081508           4
3535761308           3

[213 rows x 1 columns]

In [27]:
# Merging ELA data with ELA bins
bins_ela_winter = ela_data.merge(bins_winter_ela,on='Student ID')

## ELA BINS Winter

In [28]:
bins_ela_winter.sample(10)

,Student ID,Gender,Ethnicity,FSA_ELA,Retained,Attendance,Behavior,Fall_Diag,Winter_Diag,Bins_Winter
80,3513041608,F,African American,2,NO,NO,NO,474.0,507.0,3
58,3579081649,F,Multi-Racial,3,NO,NO,NO,492.0,545.0,4
189,3577201309,F,Caucasian,3,yes,no,no,487.0,519.0,3
155,3594231409,M,African American,3,no,yes,no,495.0,514.0,3
34,3554381669,F,Asian,2,NO,NO,NO,525.0,524.0,4
37,3554711649,F,Hispanic,4,NO,NO,NO,526.0,530.0,4
49,3569341204,F,Asian,1,YES,NO,NO,372.0,450.0,2
23,3523291649,F,Asian,2,NO,NO,NO,505.0,524.0,4
126,3585181628,F,Hispanic,2,NO,NO,NO,487.0,503.0,3
53,3572921649,M,Caucasian,5,NO,NO,NO,554.0,582.0,5

In [29]:
# Establish bins and group names.
# diag_bins = [0, 422, 472, 521, 571, 620]
# group_names = [1, 2, 3, 4, 5]
# ela_data["Bins_Winter"] = pd.cut(bins_per_student_ela, diag_bins, labels=group_names)

In [30]:
# ela_data.sample(15)

In [31]:
# Establish bins and group names for MATH.
diag_binsMATH = [0, 392, 418, 444, 470, 500]
group_namesMATH = [1, 2, 3, 4, 5]

In [32]:
# Establish bins MATH Winter per students
bins_per_student_math_w = math_data.set_index(['Student ID'])['Winter_Diag']

In [33]:
bins_per_student_math_w

Student ID
3505181649    446
3507461649    460
3508041649    467
3509881649    496
3510171549    443
             ...
3531461508    460
3571921508    442
3582191508    463
3592081508    442
3535761308    449
Name: Winter_Diag, Length: 213, dtype: int64

In [34]:
#  Students in each group of bins for MATH Winter
bins_per_student_math_w.groupby(pd.cut(bins_per_student_math_w, diag_binsMATH)).count()

Winter_Diag
(0, 392]        3
(392, 418]     11
(418, 444]     53
(444, 470]    124
(470, 500]     22
Name: Winter_Diag, dtype: int64

In [35]:
bins_per_student_math_w.describe()

count    213.000000
mean     450.516432
std       19.566191
min      380.000000
25%      442.000000
50%      453.000000
75%      462.000000
max      496.000000
Name: Winter_Diag, dtype: float64

In [36]:
bins_winter_math = pd.cut(bins_per_student_math_w, diag_binsMATH, labels=group_namesMATH)

In [37]:
#  Converting bins MATH in DataFrame
bins_winter_math = pd.DataFrame(bins_winter_math)
bins_winter_math = bins_winter_math.rename(columns={'Winter_Diag': 'Bins_Winter'})
bins_winter_math

           Bins_Winter
Student ID
3505181649           4
3507461649           4
3508041649           4
3509881649           5
3510171549           3
...                ...
3531461508           4
3571921508           3
3582191508           4
3592081508           3
3535761308           4

[213 rows x 1 columns]

In [38]:
# Merging MATH data with MATH bins
bins_math_winter = math_data.merge(bins_winter_math,on='Student ID')

## MATH BINS Winter

In [39]:
bins_math_winter.sample(10)

,Student ID,Gender,Ethnicity,FSA_MATH,Retained,Attendance,Behavior,Fall_Diag,Winter_Diag,Bins_Winter
189,3577201309,F,Caucasian,3,yes,no,no,442,451,4
108,3556711608,F,Hispanic,5,NO,NO,NO,458,475,5
62,3581171649,F,Caucasian,4,NO,NO,NO,476,458,4
198,3553261508,F,Hispanic,4,no,no,no,440,447,4
138,3573231309,F,African American,2,no,yes,yes,410,425,3
47,3569341649,F,Asian,5,NO,NO,NO,467,486,5
75,3505811608,M,Multi-Racial,3,NO,NO,NO,434,461,4
142,3594151577,M,African American,5,no,no,no,441,465,4
141,3571471509,F,African American,2,no,no,yes,437,448,4
92,3534541531,F,African American,3,NO,NO,NO,439,445,4

In [40]:
bins_math_winter.describe()

         Student ID    FSA_MATH   Fall_Diag  Winter_Diag
count  2.130000e+02  213.000000  213.000000   213.000000
mean   3.591254e+09    3.417840  436.305164   450.516432
std    3.507787e+08    1.177245   20.392512    19.566191
min    1.300604e+09    1.000000  365.000000   380.000000
25%    3.530192e+09    3.000000  426.000000   442.000000
50%    3.555562e+09    3.000000  438.000000   453.000000
75%    3.577092e+09    4.000000  450.000000   462.000000
max    5.926007e+09    5.000000  486.000000   496.000000

In [41]:
# bins_ela_avrg = bins_ela.groupby(["Bins_Winter"]).mean()["Winter_Diag"]

In [42]:
# bins_ela_avrg

In [43]:
# Establish bins ELA per students Fall
bins_per_student_ela_f = ela_data.set_index(['Student ID'])['Fall_Diag']
bins_per_student_ela_f

Student ID
3505181649    536.0
3507461649    564.0
3508041649    531.0
3509881649    530.0
3510171549    518.0
              ...
3531461508    612.0
3571921508    503.0
3582191508    522.0
3592081508    529.0
3535761308    497.0
Name: Fall_Diag, Length: 213, dtype: float64

In [44]:
#  Students in each group of bins for ELA Fall
bins_per_student_ela_f.groupby(pd.cut(bins_per_student_ela_f, diag_binsELA)).count()

Fall_Diag
(0, 422]       6
(422, 472]    21
(472, 521]    86
(521, 571]    83
(571, 620]    17
Name: Fall_Diag, dtype: int64

In [45]:
bins_fall_ela = pd.cut(bins_per_student_ela_f, diag_binsELA, labels=group_namesELA)

In [46]:
#  Converting bins ELA Fall in DataFrame
bins_fall_ela = pd.DataFrame(bins_fall_ela)
bins_fall_ela = bins_fall_ela.rename(columns={'Fall_Diag': 'Bins_Fall'})
bins_fall_ela

           Bins_Fall
Student ID
3505181649         4
3507461649         4
3508041649         4
3509881649         4
3510171549         3
...              ...
3531461508         5
3571921508         3
3582191508         4
3592081508         4
3535761308         3

[213 rows x 1 columns]

In [47]:
bins_per_student_ela_f.describe()

count    213.000000
mean     515.093897
std       41.332415
min      372.000000
25%      491.000000
50%      518.000000
75%      543.000000
max      612.000000
Name: Fall_Diag, dtype: float64

In [48]:
# Merging ELA Fall data with ELA Fall bins
bins_ela_fall = ela_data.merge(bins_fall_ela,on='Student ID')

## ELA BINS Fall

In [49]:
bins_ela_fall.sample(10)

,Student ID,Gender,Ethnicity,FSA_ELA,Retained,Attendance,Behavior,Fall_Diag,Winter_Diag,Bins_Fall
129,3594091608,M,African American,3,NO,NO,NO,487.0,489.0,3
22,3521041796,M,Caucasian,4,NO,NO,NO,502.0,571.0,3
193,3545691508,F,Caucasian,3,no,no,no,493.0,538.0,3
87,3527761508,F,African American,2,YES,NO,NO,475.0,513.0,3
79,3511241635,F,African American,3,NO,NO,NO,524.0,562.0,4
59,3579541649,M,Hispanic,3,NO,NO,NO,512.0,539.0,3
201,3556041536,M,Caucasian,3,no,no,no,488.0,517.0,3
141,3571471509,F,African American,2,no,no,yes,505.0,515.0,3
212,3535761308,M,Caucasian,3,yes,no,no,497.0,519.0,3
153,3570291408,M,African American,3,yes,yes,no,491.0,543.0,3

In [50]:
# Establish bins MATH Fall per students
bins_per_student_math_f = math_data.set_index(['Student ID'])['Fall_Diag']

In [51]:
bins_per_student_math_f

Student ID
3505181649    456
3507461649    457
3508041649    465
3509881649    476
3510171549    443
             ...
3531461508    451
3571921508    422
3582191508    450
3592081508    433
3535761308    435
Name: Fall_Diag, Length: 213, dtype: int64

In [52]:
#  Students in each group of bins for MATH Fall
bins_per_student_math_f.groupby(pd.cut(bins_per_student_math_f, diag_binsMATH)).count()

Fall_Diag
(0, 392]        7
(392, 418]     30
(418, 444]    102
(444, 470]     65
(470, 500]      9
Name: Fall_Diag, dtype: int64

In [53]:
bins_per_student_math_f.describe()

count    213.000000
mean     436.305164
std       20.392512
min      365.000000
25%      426.000000
50%      438.000000
75%      450.000000
max      486.000000
Name: Fall_Diag, dtype: float64

In [54]:
bins_fall_math = pd.cut(bins_per_student_math_f, diag_binsMATH, labels=group_namesMATH)

In [55]:
#  Converting bins MATH Fall in DataFrame
bins_fall_math = pd.DataFrame(bins_fall_math)
bins_fall_math = bins_fall_math.rename(columns={'Fall_Diag': 'Bins_Fall'})
bins_fall_math

           Bins_Fall
Student ID
3505181649         4
3507461649         4
3508041649         4
3509881649         5
3510171549         3
...              ...
3531461508         4
3571921508         3
3582191508         4
3592081508         3
3535761308         3

[213 rows x 1 columns]

In [56]:
# Merging MATH Fall data with MATH Fall bins
bins_math_fall = math_data.merge(bins_fall_math,on='Student ID')

## MATH BINS Fall

In [57]:
bins_math_fall.sample(10)

,Student ID,Gender,Ethnicity,FSA_MATH,Retained,Attendance,Behavior,Fall_Diag,Winter_Diag,Bins_Fall
10,3512421649,M,Caucasian,3,NO,NO,NO,436,456,3
0,3505181649,M,Caucasian,4,NO,NO,NO,456,446,4
42,3559751649,M,Asian,4,NO,NO,NO,452,455,4
3,3509881649,M,Caucasian,5,NO,NO,NO,476,496,5
119,3576991160,F,Hispanic,1,YES,NO,NO,413,409,2
133,4804295625,F,African American,4,NO,NO,NO,431,444,3
109,3559751988,F,African American,4,NO,NO,NO,454,472,4
103,3551991508,M,Hispanic,4,YES,NO,NO,438,462,3
209,3571921508,F,Caucasian,3,no,no,no,422,442,3
107,3556621635,F,Multi-Racial,3,NO,NO,NO,443,446,3

In [58]:
# # Export bins_ela_winter
# bins_ela_winter.to_csv('bins_ela_winter.csv',index=False)

# # Export bins_math_winter
# bins_math_winter.to_csv('bins_math_winter.csv',index=False)

# # Export bins_ela_fall
# bins_ela_fall.to_csv('bins_ela_fall.csv',index=False)

# # Export bins_math_fall
# bins_math_fall.to_csv('bins_math_fall.csv',index=False)