In [1]:
import pandas as pd

In [10]:
demo_df = pd.read_csv('Final_Data/Demographics.csv')
demo_df.head()

   Student ID Gender  Ethnicity
0  3503072149      F  Caucasian
1  3503272049      M  Caucasian
2  3503482049      F  Caucasian
3  3503481749      M  Caucasian
4  3503492049      F  Caucasian

In [13]:
null_columns=demo_df.columns[demo_df.isnull().any()]
demo_df[null_columns].isnull().sum()

Series([], dtype: float64)

In [17]:
ela_df = pd.read_csv('Final_Data/ELA_DATA.csv')
ela_df.head()

     Student ID  Fall_Diag  Winter_Diag
0  3.507952e+09      526.0        573.0
1  3.508422e+09      551.0        558.0
2  3.594152e+09      583.0        583.0
3  3.510551e+09      463.0        512.0
4  3.512401e+09      472.0        488.0

In [18]:
print(ela_df[ela_df.isnull().any(axis=1)][null_columns].head())

     Student ID  Fall_Diag  Winter_Diag
638         NaN        NaN          NaN
639         NaN        NaN          NaN
640         NaN        NaN          NaN
641         NaN        NaN          NaN
642         NaN        NaN          NaN

In [19]:
ews_df = pd.read_csv('Final_Data/EWSdata.csv')
ews_df.head()

   Student ID Retained Attendance Behavior
0  3507951708       no         no       no
1  3508421508       no         no       no
2  3594151577       no         no       no
3  3510551409      yes         no       no
4  3512401409       no         no       no

In [22]:
ews_df['Retained'] = ews_df['Retained'].str.lower()
ews_df['Attendance'] = ews_df['Attendance'].str.lower()
ews_df['Behavior'] = ews_df['Behavior'].str.lower()
ews_df.tail(10)

     Student ID Retained Attendance Behavior
977  4804403979       no         no       no
978  4804407398       no         no       no
979  4804425722       no         no       no
980  5214007671       no         no       no
981  5217011648       no         no       no
982  5300737281       no         no       no
983  5300804881       no         no       no
984  5300804904       no         no       no
985  5300808004       no         no       no
986  5929005828       no         no       no

In [24]:
ews_df = ews_df.to_csv('Final_Data/EWSdataCleaned.csv', index=True)